<div class='post'>
  <h1><a href='{{page.url}}' style="text-decoration: none;color: #0A67A2;">{{page.title}}</a><span class='date' style="float:right;">{{page.date | date: "%Y-%m-%d"}}</span></h1>
  
  <div class='body'>{{ content }}</div>
</div>
<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://fqntxmqee.github.com{{page.url}}";
  var disqus_developer = 1;
</script>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://fqntxmqee.disqus.com/embed.js"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
