/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #0A67A2;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #333;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #888;
background: #fff;
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

nav {
width: 940px;
height: 50px;
margin: 0 auto;
background: #D5EBF9;
margin-top: -5px;
}

#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
background: #FFF url(../images/colbg.png) repeat-y;
overflow: hidden;
}

#content {
float: left;
width: 640px;
margin-left: 30px;
}

#sidebar {
float: right;
padding-left: 20px;
width: 220px;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
}

a:link, a:visited {
color:#333;
}

a:hover, a:active {
color: #0A67A2;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* nav */

nav .menu {
font-size: 16px;
font-weight: bold;
}

nav .menu ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: left;
}

nav .menu a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 15px;
text-decoration: none;
color: #000;
}

nav .menu a:hover {
text-decoration: underline;
}

/** HEADER */

header {
padding: 20px 0 0 0;
}

header>h1 {
float: left;
margin: 0 0 18px 10px;
width: 600px;
font-size: 40px;
line-height: 36px;
}

header>h1 a:link, a:visited {
color: #0A67A2;
font-weight: bold;
text-decoration: none;
text-shadow: 0px 2px 3px #555;
}

header>h2 {
color: #777;
clear: right;
float: right;
font-style: italic;
font-size: 14px;
margin: 14px 10px 18px 0;
}

/** ARTICLES **/
article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #0A67A2;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

.body li a {
color: #0A67A2;
}

#blogs li a {
color: #0A67A2;
}

/* sidebar and footer widget blocks */

aside h3 {
font-size: 18px;
color: #0A67A2;
}

aside ul {
list-style: square;
color: #bbb;
margin: -15px 0 15px 25px;
}

#footer-area {
background: #D5EBF9;
color: #000;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
/* curved border radius */
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 190px;
}

footer aside h4 {
color: #0A67A2;
font-size: 16px;
line-height: 1.5em;
}

footer ul {
list-style: none;
margin: -15px 0;
}

footer a:link, footer a:visited {
color: #333;
}

footer a:hover { 
text-decoration: underline; 
}

footer p {
margin-top: -15px;
color: #000;
}
